﻿body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

* {
    Box-sizing: Border-box;
    border-radius: 0 !important; /* Remove rounded borders from whole layout */
}

/*Custom CSS for same height divs*/
.info-tile {
    background: white;
    border-color:#ff6a00;
}

.info-tile-no-border{
    border-color: transparent !important;
}

    .info-tile h4, .info-tile small, .info-tile {
        /*color: white;*/
    }

        .info-tile .panel-body {
            padding: 0;
            
        }

        .info-tile .panel-footer {
            border: 0;
            margin-left:10px;
        }

.half-tile {
    /*background: #006AB3;*/
    /*color: white;*/
    margin: 0px;
    height: 50%;
}

.half-tile-top {
    margin-bottom: 10px;
    height: 50%;
}

.panel .panel-body header {
    /*color: white;*/
    font-weight: bold;
    font-size: 1.2em;
}

.list-group-item {
    background: transparent;
    padding: 5px 5px;
}

.panel-body {
    padding: 6px;
}

.panel {
    min-height: 260px;
}


.row {
    width: 100%;
    display: table;
}

.half-tile-content {
    min-height: 130px;

}

.btn-half-tile-content {
    min-height: 100px;
}

