﻿@{
    ViewBag.Title = "Home Page";
}

<!-- /.row -->
<!-- 1st Row -->
<div class="row">
    <div class="col-md-6 myclass">

        <div class="panel info-tile">
            <div class="panel-body info-tile">
            </div>
            <div class="panel-footer info-tile">
                <div class="row">
                    <h3>VET and CRICOS Applications</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed nec.</p>

                </div>
            </div>
        </div>
        <!-- /.panel -->

    </div>
    <div class="col-md-6 myclass">

        <div class="panel info-tile">
            <div class="panel-body info-tile">
            </div>
            <div class="panel-footer info-tile">
                <div class="row">
                    <h3>Notifications</h3>
                </div>
            </div>
        </div>
        <!-- /.panel -->

    </div>
</div>
<!-- /.row -->
<!-- 2nd Row -->
<div class="row">
    <div class="col-md-6 myclass">

        <div class="panel info-tile">
            <div class="panel-body info-tile">
            </div>
            <div class="panel-footer info-tile">
                <div class="row">
                    <h3>Course Accreditation Applications</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed nec.</p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed nec.</p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed nec.</p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed nec.</p>
                </div>
            </div>
        </div>
        <!-- /.panel -->

    </div>
    <div class="col-md-6 myclass">

        @*<div class="panel info-tile">
                <div class="panel-body info-tile">

                </div>
                <div class="panel-footer info-tile">

                    <div class="row half-tile half-tile-top">
                        <div class="col-md-6" >
                            <a href="#" class="btn btn-lg" style="display: block;">My Account</a>
                        </div>
                        <div class="col-md-6">
                            <a href="#" class="btn btn-lg" style="display: block;">User Management</a>
                        </div>
                    </div>
                    <div class="row half-tile">
                        <div class="col-md-6">
                            <a href="#" class="btn btn-lg" style="display: block;">My RTO Registration information and scope</a>
                        </div>
                        <div class="col-md-6">
                            <a href="#" class="btn btn-lg" style="display: block;">My RTO contacts</a>
                        </div>
                    </div>
                </div>
            </div>*@

        <!--Best way to split the panel into fours is to use images. Create some basic image buttons of 450x255-->
        <div class="panel info-tile">
            <div class="panel-body info-tile">
            </div>
            <div class="panel-footer info-tile">
                <div class="row half-tile half-tile-top">
                    <div class="col-xs-6">
                        <img class="img-responsive" src="http://dummyimage.com/450x225/f00/fff">
                    </div>
                    <div class="col-xs-6">
                        <img class="img-responsive" src="http://dummyimage.com/450x225/f00/fff">
                    </div>
                </div>
                <!-- ./row -->

                <div class="row half-tile">
                    <div class="col-xs-6">
                        <img class="img-responsive" src="http://dummyimage.com/450x225/f00/fff">
                    </div>
                    <div class="col-xs-6">
                        <img class="img-responsive" src="http://dummyimage.com/450x225/f00/fff">
                    </div>
                </div>
            </div>
        </div>
        <!-- /.panel -->

    </div>
</div>
<!-- /.row -->